.bannerContainer {
  height: 100vh;
  /* background-color: #000080; */
  /* background: linear-gradient(#0219b8, #fff); */
  background: transparent;
  padding: 20px 50px;
}
.bannerHeader {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: #fff;
  /* background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1in;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  padding: 10px 25px;
  pointer-events: all;
}
.headerLeft {
  font-size: 27px;
  font-weight: 500;
}
.headerRight {
  font-size: 20px;
  font-weight: 500;
}
.headerMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 4%;
  font-size: 20px;
  font-weight: 400;
}
.headerContent {
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 1in;
  cursor: pointer;
}
.headerContent:hover {
  border: 2px solid #ffffff;
}
.mainBanner {
  margin: -5% 7%;
  height: 70%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bannerLeft {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.bannerLeft h1 {
  font-size: 80px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.bannerLeft p {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}
.bannerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.bannerButton button {
  font-size: 20px;
  padding: 15px 30px;
  background-color: #030303;
  border: none;
  border-radius: 1in;
  color: #fff;
  cursor: pointer;
}
.bannerButton button:last-child {
  font-size: 19px;
  padding: 15px 25px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 1in;
  color: #fff;
}
.bannerRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
