.canvasContainer {
  background: linear-gradient(#9600ff, #d79ffe);
  color: #9500ff7d;
}
.mainHeadingCanvas {
  color: #fff;
}
.canvasContainerMain {
  width: 100vw !important;
  height: 100vh !important;
  position: relative;
}
/* .mainWebsiteContainer {
  width: 100vw;
  height: 100vh;
} */
