.sectionOneMainContainer {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9600ff;
  position: relative;
}
.sectionOneInner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: absolute;
  z-index: 10;
}
.sectionOneInner h1 {
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
}
.sectionOneInner h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #ff9500a7;
  z-index: -1;
  bottom: 14px;
}

.sectionOneInner p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  width: 50%;
}
.canvasContainer {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .sectionOneMainContainer {
    height: 100vh;
  }
  .sectionOneInner h1 {
    font-size: 68px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
  }
  .sectionOneInner h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #ff9500a7;
    z-index: -1;
    bottom: 14px;
  }

  .sectionOneInner p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    width: 100%;
  }
}

/* .img1,
.img2,
.img3,
.img4 {
  position: absolute;
  width: 150px;
  animation: size ease-out 0.5s forwards;
}
.img1 {
  top: 60%;
  right: 0;
  width: 100px;
  animation: fromRight ease-out 0.5s forwards;
}
.img2 {
  top: 21%;
  left: 12%;
  width: 190px;
  rotate: -45deg;
}
.img3 {
  top: 80%;
  left: 20%;
  width: 80px;
}
.img4 {
  width: 120px;
  right: 15%;
  top: 10%;
  animation: size1 ease-out 0.5s forwards;
}
.canvasContainer {
  width: 100%;
  height: 100%;
}

@keyframes size {
  0% {
    transform: scale(0) rotate(0);
  }
  100% {
    transform: scale(1.2) rotate(45deg);
  }
}
@keyframes size1 {
  0% {
    transform: scale(0) rotate(45deg);
  }
  100% {
    transform: scale(1.2) rotate(-45deg);
  }
}
@keyframes fromRight {
  0% {
    transform: scale(0) translateX(0);
  }
  80% {
    transform: scale(1.2) translateX(-200px);
  }
  100% {
    transform: scale(1.2) translateX(-180px);
  }
} */
