.bannerContainer {
  height: 100vh;
  /* background-color: #000080; */
  /* background: linear-gradient(#0219b8, #fff); */
  background: transparent;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
}

.mainBanner {
  margin: -2% 7%;
  height: 70%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bannerLeft {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.bannerLeft p {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.bannerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.bannerButton button {
  font-size: 18px;
  padding: 8px 20px;
  background-color: #030303;
  border: none;
  border-radius: 1in;
  color: #fff;
  cursor: pointer;
}

.bannerRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .bannerLeft {
    width: 100%;
    margin-bottom: 30%;
  }
  .bannerLeft > section > div > span {
    text-align: left;
    font-size: 35px;
  }
  .bannerLeft p {
    font-size: 15px;
    text-align: center;
  }

  .bannerContainer {
    padding: 10% 5%;
  }
}
