.bannerHeader,
.bannerHeaderActive,
.bannerHeaderBlack {
  position: fixed;
  display: flex;
  z-index: 999;
  align-items: center;
  /* justify-content: space-between; */
  color: #fff;
  padding: 10px 25px;
  pointer-events: all !important;
  width: 92%;
  margin: 20px 30px;
}
.bannerHeaderActive {
  backdrop-filter: blur(17px) saturate(180%);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 150px;
  border: 2px solid #9500ff28;
  color: #000;
}

.headerLeft {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.headerRight {
  font-size: 20px;
  font-weight: 500;
  color: inherit;
}
.headerMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.93;
  font-size: 18px;
  font-weight: 400;
  gap: 4%;
  color: inherit;
}
.headerContent {
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 1in;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.headerContent:hover {
  border: 2px solid #000;
}
.bannerHeaderBlack {
  color: #000;
}

.mobileNav {
  display: none;
}
@media screen and (max-width: 850px) {
  .bannerHeader,
  .bannerHeaderActive,
  .bannerHeaderBlack {
    width: 85%;
  }
  .headerMiddle,
  .headerRight {
    display: none;
  }
  .mobileNav {
    display: block;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .mobileNavContainer {
    width: 200px;
    height: 400px;
    position: absolute;
    transform: translate(0, 56%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(17px) saturate(180%);
    -webkit-backdrop-filter: blur(17px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.714);
    border-radius: 15px;
    border: 2px solid #9500ff28;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .mobileNavContainer a {
    display: block;
    color: #000;
    font-size: 20px;
  }
}
